[Unit]
Description=Configure xrandr if external monitor connected
After=default.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/check_display_connected.py

[Install]
WantedBy=default.target

